.page {
  margin: 0.5rem 1rem 1rem 1rem;

  &-nav {
    background-color: #7fade7;
    padding: 1rem;

    &-list {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;

      li {
        padding: 0.5rem;
        margin-right: 0.5rem;
        font-size: 1.05rem;
        font-weight: 500;
        transition: all 0.4s ease-in-out;

        &:hover{
          background-color: #e1d4ab;
          cursor: pointer;
          border-radius: 15px;
        }
      }
    }
  }
}
