<div *ngIf="detail" class="page">
  <ul>
    <li><b>Prénom : </b>{{detail.fname}}</li>
    <li><b>Nom : </b>{{detail.lname}}</li>
    <li><b>Moyenne Globale :</b>
      {{detail.scores | averange}}/100, <span class="note">{{detail.scores | averange | notes}}</span>
    </li>
  </ul>

  <p-table [value]="detail.scores">
    <ng-template pTemplate="header">
      <tr>
        <th>Evaluation</th>
        <th>Note</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-score>
      <tr>
        <td id="wd-70">{{score.name}}</td>
        <td *ngIf="max == score.value" [ngClass]="'green'">{{score.value}}/100</td>
        <td *ngIf="min == score.value" [ngClass]="'red'">{{score.value}}/100</td>
        <td *ngIf="max != score.value && min != score.value">{{score.value}}/100</td>
      </tr>
    </ng-template>
  </p-table>
</div>
